<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>

<body>
    <header>
        <h1>Acerca de Nosotros</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Misión</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet consectetur dolor in
            elementum.</p>
    </section>

    <section>
        <h2>Visión</h2>
        <p>Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Pellentesque in ipsum id orci porta
            dapibus.</p>
    </section>

    <footer>
        <p>Contacto: contacto@ejemplo.com</p>
    </footer>

</body>

</html>