<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <header>
        <h1>Bienvenido a Nuestra Página Web</h1>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h2>Sobre Nosotros</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum vestibulum.
        </p>
    </section>

    <section>
        <h2>Nuestros Servicios</h2>
        <p>Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus.</p>
    </section>

    <footer>
        <p>Contacto: contacto@ejemplo.com</p>
    </footer>
</body>

</html>